.header{
    background-color: #FFFFFF;
    color: #E7E9FC;
}
.logo-web{
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
} 
.logo-studio{
color: var(--NAVY-BLUE, #2E2F42);
   }
menu-nav{

}
.nav-text{
    color: #2E2F42;
}
.address-nav{
    color: #434455;
}
.nav-link:hover
,.nav-link:focus
,.nav-link:aktive{
   color: #404BBF;
}
