.header{
    background-color: #FFFFFF;
    color: #E7E9FC;
}
.logo-web{
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
} 
.logo-studio{
color: var(--NAVY-BLUE, #2E2F42);
   }
menu-nav{
}
.nav-text{
    color: #2E2F42;
}
.address-nav{
    color: #434455;
}
.nav-link:hover
,.nav-link:focus
,.nav-link:aktive{
   color: #404BBF;
}

.hero{
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
        height: 600px;
        flex-shrink: 0;
}
.section-banner{
    width: 496px;
color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
        font-size: 56px;
        font-style: normal;
                  letter-spacing: 1.12px;
                  }
.section-banner-botton{
    border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: inline-flex;
            padding: 16px 32px;
            align-items: flex-start;
            gap: 10px;
      }
      